doctype html
html(lang='en', ng-app='AloftDash', ng-controller='DashboardController')
	head
		meta(charset='utf-8')
		title Aloft Dashboard
		link(rel='stylesheet', href='/node/bootstrap/dist/css/bootstrap.min.css')
		link(href='/themes/yummy/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/dripicons.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/animate/animate.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/hover/hover-min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/minicolors/jquery.minicolors.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/stepper/jquery.stepper.min.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/fonts.css')
		link(rel='stylesheet', href='/themes/yummy/css/styles.css')
		link(href='/themes/yummy/css/overlay-effects/overlay-effects.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/packages/bootstrap-select.min.css')
		link(rel='stylesheet', href='/css/general.css')
		link(rel='stylesheet', href='/css/editor.css')
		//- jQuery
		script(src='/node/jquery/dist/jquery.min.js')
		//- Moment.js
		script(src='/js/packages/moment.js')
	body
		nav.navbar.navbar-default
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-default-collapse')
					span.sr-only Toggle navigation
					span.fa.fa-bars
				a.navbar-brand(href='#')
					i.fa.fa-cloud(aria-hidden='true')
					| &nbsp;&nbsp;Aloft
			#navbar-default-collapse.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li.dropdown.full-width
						a.dropdown-toggle.navbar-right(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
							img(src='/img/stanavatar.jpg', height='60', width='60')
							| #{user.firstname} #{user.lastname}&nbsp;&nbsp;
							span.caret
						ul.dropdown-menu.launcher-pad(role='menu')
							li.col-md-4.col-sm-6.col-xs-4
								a(href='/logout')
									i.fa.fa-sign-out(aria-hidden='true')
									| Log out							
		#editor-pane.overlay
			a.closebtn(href='javascript:void(0)', onclick='stopEditor()') ×
			.overlay-content
				.container
					.row
						.col-md-12.col-xs-12.col-sm-12
							h1 {{ activeEventTitle }}
								small.user-info #{user.firstname} #{user.lastname}

						.col-md-12.col-xs-12.col-sm-12.editor-wrapper
							.textedit.panel-body
								button.btn.btn-primary(type='button', onclick='jumpToBottom()')
									i.fa.fa-arrow-down(aria-hidden='true') &nbsp;
								.butt-group
									button#eventURL.btn.btn-default.cbcopy(type='button', data-clipboard-text='{{ host }}/#{user.username}/{{ activeEventURL }}')
										i.fa.fa-link(aria-hidden='true') &nbsp;
										| {{ host }}/#{user.username}/{{ activeEventURL }}
								.butt-group
									button.btn.btn-success(type='button', href='#email-modal', role='button', data-toggle='modal')
										i.fa.fa-paper-plane(aria-hidden='true') &nbsp;
									button.btn.btn-info(type='button', onclick='jumpToBottom()')
										i.fa.fa-twitter(aria-hidden='true') &nbsp;
									.btn-group
										button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.fa.fa-download(aria-hidden='true') &nbsp;
											span.caret
										ul.dropdown-menu.absolute-right-dropdown-menu.editor-menu(role='menu')
											li
												h4.margin-top-0.margin-bottom-20px Download Text
												.form-group
													.input-group
														input#filename-id.form-control(name='filename-id' placeholder='filename.txt', type='text', value='{{ activeEventURL }}')
														span.input-group-addon.save-group .txt
													button.input-group-btn.btn.btn-success.save-group(type='submit', ng-click='grabTranscript("#{user.username}", activeEventURL)') Save
								.butt-group
									.btn-group
										button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.fa.fa-font(aria-hidden='true') &nbsp;
											span.caret
										ul.dropdown-menu.absolute-right-dropdown-menu.editor-menu(role='menu')
											li
												h4.margin-top-0.margin-bottom-20px Font Style
												.form-group
														.col-md-8
															select(ng-model='editorFontFamily', ng-options='f as f.name group by f.type for f in editorFonts track by f.name' ng-change='saveFontFamily()')
									.btn-group
										button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.fa.fa-text-height(aria-hidden='true') &nbsp;
											span.caret
										ul.dropdown-menu.editor-menu
											li
												h4.margin-top-0.margin-bottom-20px Text Size
												span.label.label-info.slider-value
															span#font-size-value {{editorFontSize}}
														#font-size(model='editorFontSize', setting-slider, min="1", max="120")
									.btn-group
										button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.fa.fa-align-justify(aria-hidden='true') &nbsp;
											span.caret
										ul.dropdown-menu.absolute-right-dropdown-menu.editor-menu(role='menu')
											li
												h4.margin-top-0.margin-bottom-20px Line Height
												span.label.label-info.slider-value
															span#line-height-value {{editorLineHeight}}
														#line-height(model='editorLineHeight', setting-slider, min='1', max='200', click='save()')
									.btn-group
										button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.fa.fa-tint(aria-hidden='true') &nbsp;
											span.caret
										ul.dropdown-menu.absolute-right-dropdown-menu.editor-menu(role='menu')
											li
												h4.margin-top-0.margin-bottom-20px Colors
												.row
													h5 Text Color
													.form-group
														input#fgColor.form-control(ng-model='editorFgColor', ng-change='saveFg()' minicolors="minicolorsSettings")
												.row
													h5 Background Color
													.form-group
														input#bgColor.form-control(ng-model='editorBgColor', ng-change='saveBg()' minicolors='minicolorsSettings')
									button#panel-fullscreen.btn.btn-default(type='button')
										i.fa.fa-expand(aria-hidden='true') &nbsp;

							textarea#pad(autofocus='', spellcheck='false', ng-style="{'fontSize': editorFontSize + 'px', 'lineHeight': editorLineHeight + '%', 'color': editorFgColor, 'backgroundColor': editorBgColor, 'font-family': editorFontFamily.id}")

		.container
			.col-md-12
				if (error_message.length > 0)
					.alert.callout.callout-warning(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true')
								i.fa.fa-times
						h4 Uh-oh!
						| !{error_message}
				if (success_message.length > 0)
					.alert.callout.callout-success(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true')
								i.fa.fa-times
						h4 Yay!
						| !{success_message}

				ul#create-tab.nav.nav-tabs.nav-justified(role='tablist')
					li.active
						a(href='#create', data-toggle='tab')
							span.tab-big-icon.dripicons-blog
							| Create
							small New Event
					li.tab-primary
						a(href='#repo', data-toggle='tab')
							span.tab-big-icon.dripicons-folder-open
							| Repository
							//- span.badge 42
							small Past Events
					li.tab-success
						a(href='#conference', data-toggle='tab')
							span.tab-big-icon.dripicons-view-apps
							| Conference
							small Manager
					li.tab-info
						a(href='#preferences', data-toggle='tab')
							span.tab-big-icon.dripicons-gear
							| Preferences
							small User Settings
					li.tab-warning
						a(href='#help', data-toggle='tab')
							span.tab-big-icon.dripicons-help
							| About
							small Info &amp; Help
						ul.dropdown-menu.danger-dropdown(data-dropdown-in='flipInX', data-dropdown-out='flipOutX')
							li
								a(href='#warning-tab', data-toggle='tab') Choose Warning
							li
								a(href='#danger-tab', data-toggle='tab') Choose Danger
					if (user.role === 'admin')
						li.tab-danger
							a(href='#admin', data-toggle='tab')
								span.tab-big-icon.dripicons-help
								| Admin
								small Tools
							ul.dropdown-menu.danger-dropdown(data-dropdown-in='flipInX', data-dropdown-out='flipOutX')
								li
									a(href='#warning-tab', data-toggle='tab') Choose Warning
								li
									a(href='#danger-tab', data-toggle='tab') Choose Danger
				#create-tab.tab-content
					#create.tab-pane.active(role='tabpanel')
						.row
							.col-md-2
							.col-md-8(style='text-align: center')
								.padding-8px.bg-white
									h2 Create a new event
									.toggle-buttons
										button.btn.btn-success.ng-cloak(type='button', ng-cloak, ng-click='toggleConfMode()')
											| {{ confMode === true ? "Conference Mode" : "Normal Event Mode" }}
						.row
							.col-md-2
							.col-md-8
								.padding-10px.bg-white
									form#basic-wizard.margin-bottom-10px(data-parsley-validate='', action='/editor', method='post', ng-cloak, ng-hide='confMode')
										.first.block1.show
											.col-md-12
												.form-group.has-feedback
													label.control-label(for='url') URL
												.input-group.input-group-lg
													span#basic-addon3.input-group-addon {{ host }}/#{user.username}/
													input#url.form-control.lowercase(type='text', name='event[url]', aria-describedby='url-field', placeholder='i.e. makebetterplugins')
											.form-group.has-feedback
												.col-md-6
													label.control-label.make-room(for='title') Title
													input#title.form-control.form-spacer(type='text', name='event[title]', placeholder='i.e. Make Better Plugins')
												.col-md-6
													label.control-label.make-room(for='speaker') Speaker
													input#speaker.form-control.form-spacer(type='text', name='event[speaker]', placeholder='i.e. Andrew Nacin')
											.col-md-6
												.checkbox-toggle-styled-yes-no
													input#hidden(name='event[hidden]', type='checkbox')
													label(for='hidden') Hidden Event
											.col-md-6
												button.next.btn.btn-info.pull-right(type='submit')
													| Create Event
									form#basic-wizard.margin-bottom-10px(data-parsley-validate='', action='/conferences/new-event', method='post', ng-cloak, ng-hide='!confMode')
										.first.block1.show
											.col-md-12
												.form-group.has-feedback
												if (conference && conference.plannedEvents)
													.input-group.input-group-lg
														select.selectpicker#url-select(data-container='body', ng-change='pickEvent("#{conference.url}")', ng-model='planned', title='(Choose from scheduled events)')
															each plannedEvent in conference.plannedEvents
																option(value='#{plannedEvent.slug}::#{plannedEvent.title}::#{plannedEvent.speaker}') #{plannedEvent.title}
												.form-group.has-feedback
													label.control-label(for='url') Slug
												.input-group.input-group-lg
													if (conference)
														span#basic-addon3.input-group-addon {{ host }}/#{conference.url}/
													else
														span#basic-addon3.input-group-addon {{ host }}/CONFERENCEURL/
													input#slug.form-control.lowercase(type='text', ng-readonly='eventCreator.slug', name='conf[slug]', aria-describedby='url-field', placeholder='i.e. makebetterplugins', ng-model='eventCreator.slug')
													input#url.form-control.lowercase(style='display: none;', type='text', ng-readonly='eventCreator.url', name='conf[url]', aria-describedby='url-field', placeholder='i.e. makebetterplugins', ng-model='eventCreator.url')
											.form-group.has-feedback
												.col-md-6
													label.control-label.make-room(for='title') Title
													input#title.form-control.form-spacer(type='text', ng-readonly='eventCreator.title', ng-model='eventCreator.title', name='conf[title]', placeholder='i.e. Make Better Plugins')
												.col-md-6
													label.control-label.make-room(for='speaker') Speaker
													input#speaker.form-control.form-spacer(type='text', ng-readonly='eventCreator.speaker', name='conf[speaker]', placeholder='i.e. Andrew Nacin', ng-model='eventCreator.speaker')
											.col-md-6
												.checkbox-toggle-styled-yes-no
													input#hidden(name='conf[hidden]', type='checkbox')
													label(for='hidden') Hidden Event
											.col-md-6

												button.next.btn.btn-info(type='submit')
													| Create Event
											//- .btn-group(data-toggle='buttons')
												label.btn.btn-default.btn-circle
													input(type='checkbox', name='event[collab]', checked='', autocomplete='off')
													| Collaborative
												label.btn.btn-default
													input(type='checkbox', name='event[hidden]', checked='', autocomplete='off')
													| Hidden
												label.btn.btn-default
													input(type='checkbox', name='send_on_end', checked='', autocomplete='off')
													| Send on End

											//- button.btn.btn-default.btn-circle.btn-lg.tooltiped(type='button', data-toggle='tooltip', data-placement='bottom', title='Collaborative: Allow viewers make edits.')
												i.fa.fa-users(aria-hidden='true')
											//- button.btn.btn-primary.btn-circle.btn-lg.tooltiped(type='button', data-toggle='tooltip', data-placement='bottom', title='Hidden: Hide event from public listing.')
											//- 	i.fa.fa-eye-slash(aria-hidden='true')
											//- button.btn.btn-success.btn-circle.btn-lg.tooltiped(type='button', data-toggle='tooltip', data-placement='bottom', title='Send on End: Text file of the event will automatically be sent to specified email address.')
											//- 	i.fa.fa-paper-plane(aria-hidden='true')
											//- button.btn.btn-info.btn-circle.btn-lg.tooltiped(type='button', data-toggle='tooltip', data-placement='bottom', title='Tweet: Share this event via Twitter post.')
											//- 	i.fa.fa-twitter(aria-hidden='true')											
							.col-md-2
					#repo.tab-pane.bar-primary(role='tabpanel')
						h2.tab-header-left-justified(style='text-align: center') Event Repository
						.row.breadcrumbs
							if (pages > 1)
								.pagination
									ul
										!= createPagination(pages, page)
						.row
							each event, i in events
								.col-md-4
									.panel.panel-default.panel-filled.prev-panel
										.panel-heading
											.panel-title
												script.
													var event_title = '#{event.title}';

													if (event_title.length >= 67) {
														event_title = String(event_title).substr(0, 66);
														event_title += '...';
													}
													document.write(event_title);
												br
												small
													script.
															var d = moment(new Date('#{event.created}'));
															document.write(d.format('MM-DD-YYYY (HH:mm)'));
										.panel-body
											script.
													$.ajax({
														url: window.location.origin + '/text/#{event.user}/#{event.url}',
														dataType: 'text',
														success: function (data) {
															if (data && data.length <= 120) {
																document.getElementById('preview_#{event.url}').innerHTML = data;
															} else {
																data = data.substr(0, 120);
																data += '...';
																document.getElementById('preview_#{event.url}').innerHTML = data;
															}
														}
													});
											p.snippet(id='preview_#{event.url}')
										.panel-footer
											ul.list-inline
												li
													a.btn.btn-success.btn-circle-sm(type='button', ng-click='activeEventURL = "#{event.url}"; activeEventTitle = "#{event.title}"', onclick='startEditor("#{event.url}")')
														i.dripicons-media-play
												li
													button.btn.btn-warning.btn-circle-sm.cbcopy(type='button', data-clipboard-text='aloft.nu/#{user.username}/#{event.url}')
														i.dripicons-link
												li
													form(action='/editor/#{event.id}?_method=DELETE', method='post')
														button.btn.btn-danger.btn-circle-sm(type='submit')
															i.dripicons-trash
					#conference.tab-pane.bar-success(role='tabpanel')
						.col-md-2.col-lg-2
						.col-md-8.col-lg-8
							h2 Create a New Conference
							p
								| Use this form to create a new conference. Events created in conference mode will be accessible via the a dedicated subdomain (i.e. wordcampnyc.aloft.nu/track1).
							.col-md-12
								form#token-form.signup(action='/conferences/new', method='post')
									.form-group.row
										label.col-sm-2.col-form-label(for='conf[url]') Dedicated Subdomain
										.col-sm-10
											.input-group
												input#conf-url.form-control.lowercase(type='text', name='conf[url]', placeholder='(i.e. wordcampnyc)', required='', data-parsley-required='')
												span.input-group-addon .aloft.nu
									.form-group.row
										label.col-sm-2.col-form-label(for='conf-title') Name
										.col-sm-10
											input#conf-title.form-control(type='text', name='conf[title]', placeholder='(i.e. WordCamp NYC 2017)', required='', data-parsley-required='')
									.form-group.row
										label.col-sm-2.col-form-label(for='shared') 
											| Share With&nbsp;&nbsp;
											i.fa.fa-question-circle.tooltiped(aria-hidden='true', data-toggle='tooltip', data-placement='top', title='Here you can give access to your conference to other Aloft users. Ideal if you are part of a steno team for a conference.')
										.col-sm-10
											//- .row
												.checkbox-toggle-styled-yes-no
													input#conf-shared(name='conf-shared', value='conf-shared', type='checkbox', checked='')
													label(for='conf-shared')
											.row
												.form-group
													.col-md-8
														select#selectmultiple-normal.form-control(name='conf[users]', multiple='multiple')
															each user, i in users
																option(value='#{user.local.username}') #{user.local.firstname} #{user.local.lastname} (#{user.local.username})
									.form-group.row
										.offset-sm-2.col-sm-10
											button.btn.btn-primary(type='submit') Create
							h2 Use Existing Conference
							p.text-primary(style='margin-bottom: 0px;')
								if (conference)
									strong
										| Active Conference: #{conference.title} (#{conference.url})
								else
									strong
										| No Active Conference
							p
								small
									| All new events created via the Create Event tool will be added to this conference.
							form#token-form.signup(action='/conferences/set', method='post')
								.col-md-12
									.form-group.row
										label.col-md-4.control-label(for='selectbasic-normal') Set Active Conference
										.col-md-8
											select#selectbasic-normal.form-control(name='current_conf')
												if (conferences && conferences.length > 0)
													each conference in conferences
														option(value='#{conference.url}, #{conference.title}') #{conference.title} (#{conference.url})
												else
													option(value='0') Nothing here yet!
									.form-group.row
										.offset-sm-2.col-sm-10
											button.btn.btn-primary(type='submit') Use This Conference
							h2 Add Planned Events
							p
								| For larger conferences, adding your events ahead of time make it easier for you to for you to easily start jobs according to the URL and title schemes given to you by event organizers. The list of added events can be found on a dropdown on the Create Event tool when Conference Mode is activated.
							p
								| Add your planned events in the following format: 
								code
									| making-wordpress-plugins, Making Wordpress Plugins
							form#token-form.signup(action='/conferences/plan-events', method='post')
								.col-md-12
									.form-group.row
										label.col-md-4.control-label(for='textarea-normal') Add Planned Events
										.col-md-8
											textarea#textarea-normal.form-control(name='event_list', placeholder='making-wordpress-plugins, Making Wordpress Plugins')
									.form-group.row
										.offset-sm-2.col-sm-10
											button.btn.btn-primary(type='submit') Add Events
	
					#preferences.tab-pane.bar-info(role='tabpanel')
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed elit non arcu gravida cursus. Ut non porttitor augue. Sed ornare diam ac tortor molestie, ut vestibulum nibh placerat. In hac habitasse platea dictumst. Vivamus pharetra pretium purus, ut suscipit magna malesuada at.
					#help.tab-pane.bar-warning(role='tabpanel')
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed elit non arcu gravida cursus. Ut non porttitor augue. Sed ornare diam ac tortor molestie, ut vestibulum nibh placerat. In hac habitasse platea dictumst. Vivamus pharetra pretium purus, ut suscipit magna malesuada at.
					if (user.role === 'admin')
						#admin.tab-pane.bar-danger(role='tabpanel')
							.col-md-2.col-lg-2
							.col-md-8.col-lg-8
								h2 Invite a Member
								p
									| Use this form to send someone a sign-up token to create an account on Aloft. They will receive a link which must be redeemed within seven days.
								.col-md-12
									form#token-form.signup(action='/invite-member', method='post')
										.form-group.row
											label.col-sm-2.col-form-label(for='newmemberemail') Email
											.col-sm-10
												input#inputEmail3.form-control(type='email', name='newmemberemail', placeholder='Email', required='', data-parsley-required='', data-parsley-type='email')
											//- .col-sm-6
											label.col-sm-2.col-form-label(for='') Role
											.col-sm-6
												.radio-styled
													input#member(name='role', value='member', type='radio')
													label(for='member') Member
												.radio-styled
													input#admin(name='role', value='admin', type='radio')
													label(for='admin') Administrator
												.radio-styled
													input#trial(name='role', value='trial', type='radio')
													label(for='trial') Trial
												.input-group
													input.form-control(type='text', name='trialPeriod', placeholder="Trial Duration", data-parsley-type='number', data-parsley-range='[1, 30]')
													span.help-block Trial Duration in Days
										.form-group.row
											.offset-sm-2.col-sm-10
												button.btn.btn-primary(type='submit') Send Invite!
							.col-md-2.col-lg-2
			.row.oakenwidgets
				.col-md-4
					#panels-widgets-showcase-1.panel.panel-default.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small No context
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
					// /col-md-4
					#panels-widgets-showcase-2.panel.panel-success.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Success
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
				// /col-md-4
				.col-md-4
					#panels-widgets-showcase-3.panel.panel-primary.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Primary
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
					#panels-widgets-showcase-4.panel.panel-info.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Info
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
				// /col-md-4
				.col-md-4
					#panels-widgets-showcase-5.panel.panel-warning.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Warning
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
					#panels-widgets-showcase-6.panel.panel-danger.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Danger
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
		#email-modal.modal.modal-success(data-easein='fadeInRight', data-easeout='fadeOutRight', tabindex='-1', role='dialog', aria-labelledby='sendTranscriptViaEmailModal', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						a.close(type='button', data-dismiss='modal')
							span(aria-hidden='true')
								i.fa.fa-times
							span.sr-only Close
						h4.modal-title Send Transcription File via Email
					.modal-body
						p Enter the email address of the recipient of this file.
						form(method='post', action='/send')
							.input-group
								span.input-group-addon @
								input#transcript_recipient.form-control(type='email', name='transcript_recipient', placeholder='Email', required='', data-parsley-required='', data-parsley-type='email')
							input#transcript_send_subject.form-control(type='text', name='transcript_send_subject', placeholder='Subject Line', required='', value='Transcription file for {{activeEventTitle}}')
							input.hidden-stuff(name='active_event_url', value='{{activeEventURL}}')
							input.hidden-stuff(name='active_event_title', value='{{activeEventTitle}}')
							textarea#transcript_send_message.form-control(name='transcript_send_message', rows='11')
								| Hi there!
								| 
								| #{user.firstname} #{user.lastname} has sent you the transcription file for {{activeEventTitle}}. A copy is attached to this email.
								| 
								| If you have any questions regarding the file or the event, please contact your stenographer, #{user.firstname}, at #{user.email}. Please don't respond directly to this email as it is automated.
								| 
								| Thanks!
								| Aloft Support
							p.attachment
								i.fa.fa-paperclip(aria-hidden='true') &nbsp;
								| {{activeEventURL}}.txt
							.modal-footer
								button.btn.btn-default(data-dismiss='modal')
									i.fa.fa-remove(aria-hidden='true') &nbsp;
									| Close
								button.btn.btn-success(type='submit')
									i.fa.fa-paper-plane(aria-hidden='true') &nbsp;
									| Send
	a.scrollToTop.pull-right.tooltiped(href='#', data-toggle='tooltip', data-placement='left', title='To Top')
		i.fa.fa-arrow-up

		//- Angular
		script(src='/node/angular/angular.min.js')
		//- Angular User Settings
		script(src='/node/angular-user-settings/dist/angular-user-settings.min.js')
		script(type='text/javascript', src='/themes/yummy/js/vendors/jquery/jquery-ui.min.js')
		//- Bootstrap scripts
		script(src='/node/bootstrap/dist/js/bootstrap.min.js')
		//- Parsley
		script(type='text/javascript', src='/themes/yummy/js/vendors/parsley/parsley-config.js')
		script(type='text/javascript', src='/themes/yummy/js/vendors/parsley/parsley.min.js')
		//- Clipboard.js
		script(src='/js/packages/clipboard.min.js')
		//- No tab
		script(src='/js/no-tab.js')
		//- jQuery UI Touch
		script(src='/js/jquery-ui-touch.js')
		//- Minicolors
		script(type='text/javascript', src='/themes/yummy/js/vendors/minicolors/jquery.minicolors.min.js')
		//- Angular Minicolors
		script(src='/node/angular-minicolors/angular-minicolors.js')
		//- Angular controller
		script(src='/js/angular/dashboard-controller.js')
		//- My scripts
		script(src='/js/general.js')
		//- Save text function
		script(src='/js/save-text.js')
		//- Bootstrap Select
		script(src='/js/packages/bootstrap-select.js')
		//- ShareDB
		script(src='/dist/textarea.js' defer)
		script.
			$('.selectpicker').selectpicker({
				size: 4,
				liveSearch: true,
				showIcon: false
			});

			$('#token-form').parsley();

			var url = document.location.toString();
			if (url.match('#')) {
				$('.nav-tabs a[href="#' + url.split('#')[1] + '-tab"]').tab('show');
			}

			$(function () {
				var hashTab = window.location.hash;
				if (hashTab != '') {
					$('.nav-tabs a[href="' + hashTab + '"]').tab('show');
					$(hashTab).addClass('active');
				}
			});
			
			function openEditor() {
				document.getElementById('editor-pane').style.width = "100%";
			}

			function closeEditor() {
				document.getElementById('editor-pane').style.width = "0%";
			}

			function startEditor(event) {
				var user = !{JSON.stringify(user.username)};
				assignEventInfo(user, event);
				openEditor();
			}

			function stopEditor () {
				unbind();
				closeEditor();
			}