doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Aloft Dashboard
		link(rel='stylesheet', href='/node/bootstrap/dist/css/bootstrap.min.css')
		link(href='/themes/yummy/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/dripicons.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/animate/animate.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/hover/hover-min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/minicolors/jquery.minicolors.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/stepper/jquery.stepper.min.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/fonts.css')
		link(rel='stylesheet', href='/themes/yummy/css/styles.css')
		link(href='/themes/yummy/css/overlay-effects/overlay-effects.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/general.css')
		link(rel='stylesheet', href='/css/editor.css')
		//- jQuery
		script(src='/node/jquery/dist/jquery.min.js')
	body
		nav.navbar.navbar-default
			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-default-collapse')
					span.sr-only Toggle navigation
					span.fa.fa-bars
				a.navbar-brand(href='#')
					i.fa.fa-cloud(aria-hidden='true')
					| &nbsp;&nbsp;Aloft
			#navbar-default-collapse.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li.dropdown.full-width
						a.dropdown-toggle.navbar-right(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
							img(src='/img/stanavatar.jpg', height='60', width='60')
							| #{user.firstname} #{user.lastname}&nbsp;&nbsp;
							span.caret
						ul.dropdown-menu.launcher-pad(role='menu')
							li.col-md-4.col-sm-6.col-xs-4
								a(href='#')
									i.fa.fa-cube
									| Appz
									span.badge 55
							li.col-md-4.col-sm-6.col-xs-4
								a(href='#')
									i.fa.fa-database
									|  Database
									span.badge 19
							li.col-md-4.col-sm-6.col-xs-4
								a(href='#')
									i.fa.fa-android
									|  Android
									span.badge 7
							li.col-md-4.col-sm-6.col-xs-4
								a(href='#')
									i.fa.fa-cubes
									|  Platforms
									span.badge 2
							li.col-md-4.col-sm-6.col-xs-4
								a(href='#')
									i.fa.fa-life-ring
									|  Support
									span.badge 9
							li.col-md-4.col-sm-6.col-xs-4
								a(href='#')
									i.fa.fa-gear
									|  Settings
									span.badge 5
							li.col-md-4.col-sm-6.col-xs-4
								a(href='#')
									i.fa.fa-thumbs-up
									|  Likes
									span.badge 182
							li.col-md-4.col-sm-6.col-xs-4
								a(href='#')
									i.fa.fa-heart-o
									|  Lovers
									span.badge + 21
							li.col-md-4.col-sm-6.col-xs-4
								a(href='#')
									i.fa.fa-thumbs-down
									|  Dislikes
									span.badge 20
		.container
			.col-md-12
				if (error_message.length > 0)
					.alert.callout.callout-warning(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true')
								i.fa.fa-times
						h4 Uh-oh!
						| !{error_message}

				ul#myTabs.nav.nav-tabs.nav-justified(role='tablist')
					li.active
						a(href='#create-tab', data-toggle='tab')
							span.tab-big-icon.dripicons-blog
							| Create
							small New Event
					li.tab-primary
						a(href='#repo-tab', data-toggle='tab')
							span.tab-big-icon.dripicons-folder-open
							| Repository
							//- span.badge 42
							small Past Events
					li.tab-success
						a(href='#template-tab', data-toggle='tab')
							span.tab-big-icon.dripicons-export
							| Template
							small Manager
					li.tab-info
						a(href='#preferences-tab', data-toggle='tab')
							span.tab-big-icon.dripicons-gear
							| Preferences
							small User Settings
					li.tab-warning
						a(href='#help-tab', data-toggle='tab')
							span.tab-big-icon.dripicons-help
							| About
							small Info &amp; Help
						ul.dropdown-menu.danger-dropdown(data-dropdown-in='flipInX', data-dropdown-out='flipOutX')
							li
								a(href='#warning-tab', data-toggle='tab') Choose Warning
							li
								a(href='#danger-tab', data-toggle='tab') Choose Danger
					if (user.role === 'admin')
						li.tab-danger
							a(href='#admin-tab', data-toggle='tab')
								span.tab-big-icon.dripicons-help
								| Admin
								small Tools
							ul.dropdown-menu.danger-dropdown(data-dropdown-in='flipInX', data-dropdown-out='flipOutX')
								li
									a(href='#warning-tab', data-toggle='tab') Choose Warning
								li
									a(href='#danger-tab', data-toggle='tab') Choose Danger
				#myTabContent2.tab-content
					#create-tab.tab-pane.active(role='tabpanel')
						.row
							.col-md-2
							.col-md-8
								.padding-8px.bg-white
									h2 Create a new event
						.row
							.col-md-2
							.col-md-8
								.padding-10px.bg-white
									form#basic-wizard.margin-bottom-10px(data-parsley-validate='', action='/editor', method='post')
										.first.block1.show
											.form-group.has-feedback
												label.control-label(for='url') URL
											.input-group
												span#basic-addon3.input-group-addon aloft.nu/#{user.username}/
												input#url.form-control(type='text', name='event[url]', aria-describedby='url-field', placeholder='i.e. srccon', data-parsley-group='block1')
											.form-group.has-feedback
												label.control-label.make-room(for='firstname') Title
												input#firstname.form-control.form-spacer(type='text', name='event[title]', placeholder='i.e. SRCCON 2016, Portland, OR', data-parsley-group='block1')
											.btn-group(data-toggle='buttons')
												label.btn.btn-default
													input(type='checkbox', name='event[collab]', checked='', autocomplete='off')
													| Collaborative
												label.btn.btn-default
													input(type='checkbox', name='event[hidden]', checked='', autocomplete='off')
													| Hidden
												label.btn.btn-default
													input(type='checkbox', name='send_on_end', checked='', autocomplete='off')
													| Send on End
												label.btn.btn-default
													input(type='checkbox', name='tweet', checked='', autocomplete='off')
													| Tweet Event

											//- button.btn.btn-default.btn-circle.btn-lg.tooltiped(type='button', data-toggle='tooltip', data-placement='bottom', title='Collaborative: Allow viewers make edits.')
												i.fa.fa-users(aria-hidden='true')
											//- button.btn.btn-primary.btn-circle.btn-lg.tooltiped(type='button', data-toggle='tooltip', data-placement='bottom', title='Hidden: Hide event from public listing.')
											//- 	i.fa.fa-eye-slash(aria-hidden='true')
											//- button.btn.btn-success.btn-circle.btn-lg.tooltiped(type='button', data-toggle='tooltip', data-placement='bottom', title='Send on End: Text file of the event will automatically be sent to specified email address.')
											//- 	i.fa.fa-paper-plane(aria-hidden='true')
											//- button.btn.btn-info.btn-circle.btn-lg.tooltiped(type='button', data-toggle='tooltip', data-placement='bottom', title='Tweet: Share this event via Twitter post.')
											//- 	i.fa.fa-twitter(aria-hidden='true')
											button.next.btn.btn-info.pull-right(data-current-block='1', data-next-block='2', type='submit')
												| Begin Event!
											
							.col-md-2
					#repo-tab.tab-pane.bar-primary(role='tabpanel')
						h2.tab-header-left-justified Event Repository
						.row
							#{events}
							each event, i in events
								script.
									//- var date = #{event.created};
									var prev = document.getElementById('preview');
									loadPrev();

									function loadPrev () {
										$.ajax({
											url: '/text/#{event.user}/#{event.url}',
											dataType: 'text',
											success: function (data) {
												if (data.length >= 200) {
													prev.innerHTML = data.substring(0, 200);
												} else {
													prev.innerHTML = data.substring(0, data.length);
												}
											}
										});
									}
								.col-md-4
									.panel.panel-primary.panel-filled
										.panel-heading
											.panel-title
												| #{event.title}
												small #{event.url}
										.panel-body
											p#preview-!{i}
												| File preview
											}
										.panel-footer
											ul.list-inline
												li
													button.btn.btn-success.btn-circle-sm(type='button')
														i.dripicons-media-play
												li
													button.btn.btn-warning.btn-circle-sm(type='button')
														i.dripicons-link
												li
													button.btn.btn-danger.btn-circle-sm(type='button')
														i.dripicons-trash
					#template-tab.tab-pane.bar-success(role='tabpanel')
						p
							| Loremrstrtrs ipsum dolor sit amet, consectetur adipiscing elit. Cras sed elit non arcu gravida cursus. Ut non porttitor augue. Sed ornare diam ac tortor molestie, ut vestibulum nibh placerat. In hac habitasse platea dictumst. Vivamus pharetra pretium purus, ut suscipit magna malesuada at.
					#info-tab.tab-pane.bar-info(role='tabpanel')
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed elit non arcu gravida cursus. Ut non porttitor augue. Sed ornare diam ac tortor molestie, ut vestibulum nibh placerat. In hac habitasse platea dictumst. Vivamus pharetra pretium purus, ut suscipit magna malesuada at.
					#preferences-tab.tab-pane.bar-info(role='tabpanel')
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed elit non arcu gravida cursus. Ut non porttitor augue. Sed ornare diam ac tortor molestie, ut vestibulum nibh placerat. In hac habitasse platea dictumst. Vivamus pharetra pretium purus, ut suscipit magna malesuada at.
					#help-tab.tab-pane.bar-warning(role='tabpanel')
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed elit non arcu gravida cursus. Ut non porttitor augue. Sed ornare diam ac tortor molestie, ut vestibulum nibh placerat. In hac habitasse platea dictumst. Vivamus pharetra pretium purus, ut suscipit magna malesuada at.
					if (user.role === 'admin')
						#admin-tab.tab-pane.bar-danger(role='tabpanel')
							.col-md-2.col-lg-2
							.col-md-8.col-lg-8
								h2 Invite a Member
								p
									| Use this form to send someone a sign-up token to create an account on Aloft. They will receive a link which must be redeemed within seven days.
								.col-md-12
									form#token-form.signup(action='/invite-member', method='post')
										.form-group.row
											label.col-sm-2.col-form-label(for='newmemberemail') Email
											.col-sm-10
												input#inputEmail3.form-control(type='email', name='newmemberemail', placeholder='Email', required='', data-parsley-required='', data-parsley-type='email')
											//- .col-sm-6
											label.col-sm-2.col-form-label(for='') Role
											.col-sm-6
												.radio-styled
													input#member(name='role', value='member', type='radio')
													label(for='member') Member
												.radio-styled
													input#admin(name='role', value='admin', type='radio')
													label(for='admin') Administrator
												.radio-styled
													input#trial(name='role', value='trial', type='radio')
													label(for='trial') Trial
												.input-group
													input.form-control(type='text', name='trialPeriod', placeholder="Trial Duration", data-parsley-type='number', data-parsley-range='[1, 30]')
													span.help-block Trial Duration in Days
										.form-group.row
											.offset-sm-2.col-sm-10
												button.btn.btn-primary(type='submit') Send Invite!
							.col-md-2.col-lg-2
			.row.oakenwidgets
				.col-md-4
					#panels-widgets-showcase-1.panel.panel-default.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small No context
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
					// /col-md-4
					#panels-widgets-showcase-2.panel.panel-success.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Success
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
				// /col-md-4
				.col-md-4
					#panels-widgets-showcase-3.panel.panel-primary.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Primary
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
					#panels-widgets-showcase-4.panel.panel-info.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Info
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
				// /col-md-4
				.col-md-4
					#panels-widgets-showcase-5.panel.panel-warning.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Warning
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
					#panels-widgets-showcase-6.panel.panel-danger.panel-filled
						.panel-heading
							.panel-title
								| Panel
								small Danger
						.panel-body
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum lectus, dapibus sed sollicitudin vitae, maximus sit amet tortor.
						.panel-footer Panel footer
	a.scrollToTop.pull-right.tooltiped(href='#', data-toggle='tooltip', data-placement='left', title='To Top')
		i.fa.fa-arrow-up

		//- Angular
		script(src='/node/angular/angular.min.js')
		//- Angular User Settings
		script(src='/node/angular-user-settings/dist/angular-user-settings.min.js')
		script(type='text/javascript', src='/themes/yummy/js/vendors/jquery/jquery-ui.min.js')
		//- Bootstrap scripts
		script(src='/node/bootstrap/dist/js/bootstrap.min.js')
		//- Angular controller
		script(src='/js/controller.js')
		//- Parsley
		script(type='text/javascript', src='/themes/yummy/js/vendors/parsley/parsley-config.js')
		script(type='text/javascript', src='/themes/yummy/js/vendors/parsley/parsley.min.js')
		//- Clipboard.js
		script(src='/js/clipboard.min.js')
		//- jQuery UI Touch
		script(src='/js/jquery-ui-touch.js')
		//- jQuery UI Touch
		script(src='/js/general.js')
		//- Moment.js
		script(src='/js/moment.js')
		script.
			$('#token-form').parsley();
			var url = document.location.toString();
			if (url.match('#')) {
				$('.nav-tabs a[href="#' + url.split('#')[1] + '-tab"]').tab('show');
			} //add a suffix

			// Change hash for page-reload
			$('.nav-tabs a').on('shown.bs.tab', function (e) {
			    window.location.hash = e.target.hash;
			});