doctype html
html(lang='en', ng-app='AloftDash')
	head
		meta(charset='utf-8')
		title Public Listing: #{firstname} #{lastname}
		link(rel='stylesheet', href='/node/bootstrap/dist/css/bootstrap.min.css')
		link(href='/themes/yummy/css/overlay-effects/overlay-effects.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/dripicons.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/animate/animate.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/hover/hover-min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/minicolors/jquery.minicolors.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/stepper/jquery.stepper.min.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/themes/yummy/css/styles.css')
		link(rel='stylesheet', href='/css/annotator.min.css')
		link(rel='stylesheet', href='/css/fonts.css')
		link(rel='stylesheet', href='/css/standalonepage.css')
		link(rel='stylesheet', href='/css/listing.css')
		script(src='/node/jquery/dist/jquery.min.js')
		script(src='/js/packages/moment.js')
	body
		.container(ng-controller='ListingController', ng-init="username='#{user}'")
			.panel.panel-default
				.panel-body(style='background-color: #f2f3f5')
					h2.breadcrumbs Public Event Listing for #{firstname} #{lastname} {{pageSize}} {{currentPage}}
					.row(style='padding-left: 10px; padding-right: 10px;')
						.col-md-8
							.form-group
								.input-group
									span.input-group-addon
										i.fa.fa-search(aria-hidden='true')
									input.form-control(ng-model='q', id='eventSearch', class='form-control', placeholder='Search for Events.')
						.col-md-4
							.form-group
								.input-group
									span.input-group-addon
										i.fa.fa-th(aria-hidden='true')
									input.form-control(type='number', min='1', max='50', class='form-control', ng-model='pageSize')
						h4.breadcrumbs(ng-hide='events.length', ng-cloak='') No events found
					.col-md-6.prev-panel(dir-paginate='e in events | filter: q | itemsPerPage: pageSize', total-items='total', current-page='currentPage')
						.overlay-wrapper.overlay-wrapper-panel
							#overlay-panel-6.panel.panel-default.panel-overlay.panel-filled
								.panel-heading
									.panel-title.truncate
										| {{e.title}}
										br
										small {{e.url}}
								.panel-body(style='min-height: 90px; max-height: 90px;')
									p
										small
											| {{e.snapshot}}
								.panel-footer
									{{e.formattedDate}}
								.overlayStyleH
								.StyleV
									span.WhiteRounded
										a(href='#{user}/{{e.url}}', target='_blank')
											i.dripicons-media-play
									span.WhiteRounded
										a.cbcopy(data-clipboard-text='aloft.nu/#{user}/{{e.url}}')
											i.dripicons-link
					.row.breadcrumbs
						dir-pagination-controls(boundary-links='true', on-page-change='pageChangeHandler(newPageNumber)', max-size='6', template-url='html/navcontrols.html')
		//- Angular
		script(src='/node/angular/angular.min.js')
		//- Angular User Settings
		script(src='/js/angular/dirPagination.js')
		script(src='/js/angular/listing-controller.js')
		//- Bootstrap scripts
		script(src='/node/bootstrap/dist/js/bootstrap.min.js')
		//- Angular controller
		//- jQuery UI Touch
		script(src='/js/jquery-ui-touch.js')
		//- Clipboard.js
		script(src='/js/packages/clipboard.min.js')
		//- jQuery
		script(src='/node/jquery/dist/jquery.min.js')
		script.
			$(document).ready(function () {
				new Clipboard('.cbcopy');
			});
